{% extends 'userBase.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
    {% for cart in carts %} 
    {% if cart.cusid.id == user.id  %}
         <h5 class="" >{{cart.productid.name}}</h5>
        <h5 class="" >{{cart.cusid.id}}</h5>
    {% endif %} 
  
        
    {% endfor %}
{% endblock %}
